$primary-font: Ultra, Sans-Serif;

@font-face {
    font-family: Ultra;
    src: url(../fonts/Ailerons-Regular.otf);
  }

body {
    background: url(../images/bg-sil.jpg) no-repeat center center fixed;
    background-size: cover;
}

#navLogo {
    height: 50px;
    width: 80px;
    margin-top: .5rem;
    margin-left: .5rem;
}

.brandText {
    font-family: $primary-font;
    font-size: 1.5rem;
    color: white;
    letter-spacing: .1vw;
    margin-top: .5rem;
}

.nav-item {
    margin: 0 1vw;
}

.nav-link {
    font-family: $primary-font;
    font-size: 1.5rem;
}

.dot {
    display: none;
}

.content {
    position: relative;
    width: 100%;
    margin: 50px auto
  }
  
  .content .content__text-intro {
    width: 1140px;
    margin-top: 150px;
    margin: 150px auto 0
  }
  
  .content .content__text-intro .content__head {
    font-family: $primary-font;
    font-size: 43px;
    width: 40%;
    text-transform: uppercase;
    color: #111;
    font-weight: 1000;
    line-height: 70px
  }
  
  .content .content__text-intro .content__description {
    font-size: 14px;
    color: #8d8d8d;
    margin-top: 30px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
    width: 40%
  }
  
  .content__typed-cursor {
    color: #8d8d8d;
    opacity: 1;
    font-weight: 1000;
    -webkit-transition: blink .6s infinite;
    -moz-transition: blink .6s infinite;
    -ms-transition: blink .6s infinite;
    -o-transition: blink .6s infinite;
    animation: blink .6s infinite
  }

@media (max-width:641px)  {

    .brandText {
        display: none;
    }

    .navbar-toggler {
        border: none;
    }

    .sidebarMobile {
        position: absolute;
        top: 10rem;
        right: 1rem;

        .dot {
            height: 25px;
            width: 25px;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid white;
            display: block;
          }

          .dot:active {
              background-color: white;
          }

          .vl {
            border-left: 1px solid white;
            height: 75px;
            position: relative;
            left: 12px;
          }
    }

    .content {
        position: relative;
        width: 100%;
        margin: 55px auto
      }
      
      .content .content__text-intro {
        width: 100%;
        margin-top: 170px;
        margin: 150px auto 0
      }
      
      .content .content__text-intro .content__head {
        font-size: 28px;
        width: 60%;
        margin: 0 auto;
        text-transform: uppercase;
        color: #111;
        font-weight: 1000;
        line-height: 30px;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.089);
        letter-spacing: -4px;
      }
      
      .content .content__text-intro .content__description {
        font-size: 12px;
        color: white;
        margin: 0 auto;
        margin-top: 30px;
        font-weight: 200;
        line-height: 22px;
        letter-spacing: 1px;
        width: 60%;
        line-height: 16px;
      }
      
      .content__typed-cursor {
        color: #8d8d8d;
        opacity: 1;
        font-weight: 1000;
        -webkit-transition: blink .6s infinite;
        -moz-transition: blink .6s infinite;
        -ms-transition: blink .6s infinite;
        -o-transition: blink .6s infinite;
        animation: blink .6s infinite
      }

}